.HomestoreCardWrapper{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
}

.HomeStoreCardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    /* overflow-x: scroll;
    gap: 60px;
    scrollbar-width: none; 
    -ms-overflow-style: none; */
}

.storeCardContainer::-webkit-scrollbar {
    display: none;
}

.HomestoreCards{
    width: 25%;
    height: 70%; 
    /* background-color:#DFFFC0; */
    border-radius: 10px;
    margin-right: 30px;
    padding: 10px;
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex-shrink: 0;
}

#card1{
    background-color: #DFFFC0;
}

#card2{
    background-color:  #FFD6B8;
}
#card3{
    background-color: white;
}
#card4{
    background-color: #FFD6B8;
}
#card5{
    background-color:white;
}


.storePic{
    width: 50%;
    height: 50%;
    /* background-color: blue; */
    border-radius: 50%;

    & img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

.HomestoreDescription{
    width:90%;
    height: 30%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
   

    & p{
        font-size: 22px;
        font-weight: 700;
        font-family: montserrat;
    }

    & span{
        font-size:12px ;
        font-weight: 500;
        font-family: montserrat;
    }
}

@media screen and (min-width:320px)and (max-width:500px){
    .storeCards{
        width:180px;
        height: 180px;
    }

    .storeCardContainer{
        width:90%;
        height: 60%;
        gap: 10px;
    }

    .storeDescription{
        & p{
            font-size: 18px;
        }

        & span{
            font-size: 12px;
        }
    }

    .storeCardWrapper{
        /* background-color: aqua; */
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
}  