.heroParent{
    width: 100%;
    height: 100vh;
    display: flex;
    color:#02B928 ;
    /* flex-wrap: wrap; */
    align-items: center;
    /* padding-inline: 30px; */
    background-color: #DFFFC0;

}

.herohold{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */

& h1{
    font-size: 50px;
    margin-bottom: 20px;
    max-width: 500px;
}
}

.hero_text h2{
  font-size: 5rem;
}
.hero_img{
     background-image: url("https://res.cloudinary.com/dg2gcfyud/image/upload/v1726849045/smiling-young-gardener-afro-american-guy-wearing-gardening-hat-holding-vegetable-basket-with-pumpkin-isolated-blue-wall-removebg-preview_qarawa.png");
    width: 50%;
    height: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
}
.herohold span{
    /* color: #015512; */
}

.herohold button{
    width: 260px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    color:#ffffff;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #03a824;
    border: none;
  
}
.herohold button:hover{
    background-color: #03a824;
}
.herohold button:active{
    background-color: green;
}

@media screen and (min-width:320px) and (max-width:500px){
    .heroParent{
        height:40vh;
        width: 100%;
        padding-inline: 0;


    }

    .herohold{
        width: 40%;
        height: 100%;
        border: solid black;
        justify-content: center;
       
        
        /* align-items: center; */

        & h1{
            font-size: 20px;
            margin-bottom:0 ;
            line-height: 20.54px
        }

        & button{
            width:125px;
            height: 20px;
            font-size: 14px;
            font-weight: 700;
            
        }
    }
    
}
