.storeCardWrapper{
    width: 100%;
    height: 80%;
    /* background-color: black; */
    display: flex;
    align-items: flex-end;
    gap: 20px;
    /* overflow-x: auto; */
    /* align-items: center; */
}

.storeCards{
    width: 18%;
    height: 70%; 
    /* background-color:#DFFFC0; */
    border-radius: 10px;
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#card1{
    background-color: #DFFFC0;
}

#card2{
    background-color:  #FFD6B8;
}
#card3{
    background-color: white;
}
#card4{
    background-color: #FFD6B8;
}
#card5{
    background-color:white;
}


.storePic{
    width: 60%;
    height: 50%;
    background-color: blue;
    border-radius: 50%;
}

.storeDescription{
    width:90%;
    height: 30%;
    background-color: brown;
}