.userProfileWrapper{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
  
}

.profileLeft{
    width: 30%;
    height: 100vh;
    background-color: #DFFFC0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profileLogo{
    width: 90%;
    height: 10%;
    /* background-color: blue; */
    /* padding: 10px; */
}

.profileItem{
    width:90%;
    height: 20%;
    /* background-color: brown; */
    /* justify-content: center; */
    align-items: center;
    display: flex;
    gap: 10px;
}

.profilePixSide{
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: #02B928;
}

.profileDetailsContainer{
    width:75%;
    height:50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p{
        font-size: 25px;
        font-weight: 500;
        font-family: montserrat;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }

     & span{                                                                      
        font-size: 15px;
        font-weight: 500;
        font-family: montserrat;
        color: #1E1E1ED6;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
     }
}
.profileRight{
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RightInner{
    width:70%;
    height: 80%;
    /* background-color: brown; */
}

.subTopic{
    width:100%;
    height: 15%;
    /* background-color: blueviolet; */
    font-size: 50px;
    font-weight: 400;
    font-family: montserrat;
}

.profileForm{
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-around; */
}

.ProfileInputDiv{
    width:100%;
    height: 13vh;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;

    & input{
        width: 500px;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }

    & label{
        font-size:16px;
        font-weight: 400;
        font-family: montserrat;
    }
}

@media screen and (min-width:320px)  and (max-width:500px){
    .userProfileWrapper{
     /* width:30%; */
     /* display: block; */
     flex-direction: column;
     border: solid cadetblue;

    }


    
}
