*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signupCon{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupholder{
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginHolder{
    width: 35%;
    height: 80%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.login-writeup{
    width: 100%;
    height: 40%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.login-main{
    width: 100%;
    height: 60%;
    /* background-color: rgb(95, 61, 67); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}
.login-logo{
    width: 60%;
    height: 20%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-detail{
    width: 100%;
    height: 80%;
    /* background-color: purple; */
}
.loginToAccount{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.reset{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
}

.createText{
   font-family: Montserrat;
   font-size: 20px;
   font-weight: 400;
   color: #F27318;
}
.loginInn{
   width: 100%;
   height: 30%;
   /* background-color: aqua; */
   font-family: Montserrat;
   font-size: 25px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   /* justify-content: flex-start;
   align-items: flex-start;  */
   gap: 15px;
   
 
}
.loginbtnHolder33{
    width: 100%;
    height: 30%;
    /* background-color: mediumblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -70px;
    
}
.forget{
    display: none;
}

.emailinput{
   width: 100%;
   height: 50%;
   border-radius: 8px;
   border: solid 0.6px #000000A3;
   /* background-color: aquamarine; */
   
}
.input-password{
   width: 100%;
   height: 50%;
   border: none;
   outline: none;
}
.passwordHolder{
    width: 100%;
    height: 30%;
    border: solid 0.6px #000000A3
}
.forget{
    height: 5%;
    width: 100%;
    /* background-color: darkred; */
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #F27318;
    display: flex;
    align-items: center;
    justify-content: center;

    >p{
        cursor: pointer;
    }
    
}
.Loginbtn130{
    width: 100%;
    height: 50%;
    background-color: #02B928;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 250;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    top: 10px;
}
@media screen and (max-width: 320px) {
    .reset{
        font-size: 14px
    }
    .emailinput{
        height: 150px!important;
        width: 200px;
    }
    .loginInn{
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */

        & p{
            position: relative;
            right: 65px;
        }
    }
    .loginbtnHolder33{
        font-size: 1px;
        /* background-color: plum; */
        position: relative;
        bottom: 300px;
    }
    .Loginbtn130{
        width: 900px;
        height: 50px !important;
        font-size: 15px !important;
        position: relative !important;
        top: 50px !important;
    }
    .reset{
        position: relative;
        bottom: 13px;
    }
}
@media screen and (max-width: 375px) {
    .reset{
        font-size: 14px
    }
    .emailinput{
        height: 70px !important;
        width: 200px;
    }
    .loginInn{
        display: flex;
        align-items: center;
        justify-content: center;

        & p{
            position: relative;
            right: 65px;
        }
    }
    .loginbtnHolder33{
        font-size: 1px;
        position: relative;
        top: 10px;
    }
    .Loginbtn130{
        width: 58% ;
        height: 90% ;
        font-size: 15px ;
        /* position: relative; */
        /* bottom: 1000px; */
    }
}
@media screen and (max-width: 425px) {
    .reset{
        font-size: 14px
    }
    .emailinput{
        height: 70px !important;
        width: 200px;
    }
    .loginInn{
        display: flex;
        align-items: center;
        justify-content: center;

        & p{
            position: relative;
            right: 65px;
        }
    }
    .loginbtnHolder33{
        font-size: 1px;
        position: relative;
        top: 1px;
    }
    .Loginbtn130{
        width: 57% ;
        height: 90%;
        font-size: 15px;
        position: relative;
        top: 10px;
    }
}
@media screen and (max-width: 768px) {
    .reset{
        font-size: 16px
    }
    .emailinput{
        height: 40px !important;
        width: 300px;
    }
    .loginInn{
        display: flex;
        align-items: center;
        justify-content: center;

        & p{
            position: relative;
            right: 110px;
        }
    }
    .loginbtnHolder33{
        font-size: 1px;

    }
    .login-logo{
        width: 50px;

       & img{
            width: 200px;
        }
    }
    .Loginbtn130{
        width: 53%;
        height: 40px !important;
        font-size: 15px;
        position: relative;
        top: 65px;
    }
}
@media only screen and (min-width: 2560px){
    .reset{ 
         font-size: 50px; 
     } 
     .loginInn{ 
         /* background-color: blue;  */

         & p{ 
             font-size: 40px; 
         } 
     } 
     .Loginbtn130{ 
         font-size: 40px; 
     } 
     .Loginbtn130{ 
         position: relative; 
         bottom: 180px; 
     } 
 } 
 @media only screen and (min-width: 1440px) and (max-width: 2559px){ 
     .Loginbtn130{ 
        position: relative; 
        bottom: 70px; 
     } 
 } 

