*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signupCon9{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupholder{
    width: 100%;
    height: 100%;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupleft{
    width: 30%;
    height: 100%;
    background-color: #DFFFC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 25px;
}

.signupright{
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.signupleftinner{
    width: 90%;
    height: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.logo{
    width: 60%;
    height: 10%;
    /* background-color: yellow; */
}

.description{
    width: 100%;
    height: 75%;
    /* background-color: grey; */
}
.groceria{
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
color: #000000;
}
.desc{
font-family: Montserrat;
font-size: 13px;
font-weight: 400;
color: #000000A8;
;
/* line-height: 18.29px; */
/* text-align: left; */
}
.signuprightinner{
    width: 100%;
    height: 79%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupInputHolder{
    width: 90%;
    height: 82%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.createbox{
    width: 100%;
    height: 20%;
    /* background-color:rgb(90, 89, 82); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inputholder{
    width: 100%;
    height: 70%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.create{
    width: 50%;
    height: 50%;
    /* background-color: aqua; */
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
}
.already{
    width: 70%;
    height: 50%;
    /* background-color: peru; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    
    
}
.login1{
    color: #F27318;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.inputholderInner{
    width: 100%;
    height: 85%;
    /* background-color: aqua; */
    display: flex;
}
.signupBtn1{
    width: 85%;
    height: 60px;
    background-color: #02B928;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 250;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    border: none;
   

}
.signupBtn1:hover{
    background-color: #F27318;
}
.signLeft{
    width: 50%;
    height: 100%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signRight{
    width: 50%;
    height: 100%;
    /* background-color: rgb(222, 18, 52); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.passwordHolder2{
    width: 390px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    /* background-color: #F27318; */
    align-items: center;
    border-radius: 8px;
    /* border: 0.6px 0px 0px 0px; */
    opacity: 0px;
        /* border: none; */
    outline: none;
    border: solid 0.1px #000000A3;
    padding: 5px;

    & .input-four2{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 10px
    }
    
    
}

.signInput{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000000;
}
.inputt{
    border: none;
    outline: none;
}
.input-one{
    
        width: 390px;
        height:60px;
        gap: 10px;
        border-radius: 8px;
        border: 0.6px 0px 0px 0px;
        opacity: 0px;
        /* border: none; */
        outline: none;
        border: solid 0.1px #000000A3;
        padding: 10px

}
.input-two{
    
        width: 390px;
        height:60px;
        gap: 10px;
        border-radius: 8px;
        border: 0.6px 0px 0px 0px;
        opacity: 0px;
        /* border: none; */
        outline: none;
        border: solid 0.1px #000000A3;
        padding: 10px

}
.input-three{
    
        width: 390px;
        height:60px;
        gap: 10px;
        border-radius: 8px;
        border: 0.6px 0px 0px 0px;
        opacity: 0px;
        /* border: none; */
        outline: none;
        border: solid 0.1px #000000A3;
        padding: 10px

}
.input-four{
    border: none;
    outline: none; 
}

@media only screen and (max-width: 320px) {
    .signupCon9 {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        background-color: #ffffff;
        background: none;
    }

    .signupholder {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        /* background-color: #02B928; */
    }

    .signupleft {
        width: 100%;
        height: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 40px;
        background: none;
    }

    .signupright {
        width: 100%;
        height: auto;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .signupleftinner
     {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        
        
        
        
    }
    
    .signuprightinner {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        
    }

    .logo, 
    .image {
        width: 100px;
        height: 50%;
        position: relative;
        right: 79px;
        
     
    }
    

    .description {
        text-align: center;
    }

    .groceria {
        font-size: 20px;
    }

    .desc {
        font-size: 12px;
    }

    .signupInputHolder {
        width: 100%;
        height: auto;
    }

    .inputholderInner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .signLeft, 
    .signRight {
        width: 100%;
        align-items: flex-start;
        gap: 15px;
    }

    .signInput {
        width: 100%;
    }

    .input-one,
    .input-two,
    .input-three,
    .input-four2 {
        width: 100%;
        height: 35px;
        padding: 5px
        /* margin-bottom: 10px; */
    }
    input{
        width: 100%;
    }

    .passwordHolder2 {
        /* display: inline-block;
        overflow: auto; */
        width: 255px;
        height: 35px;
        /* background-color: aqua; */

    }

    .signupBtn1 {
        width: 200px !important;
        height: 35px;
        font-size: 18px;
        position: relative;
        top: 10px;
    }

    .create {
        font-size: 28px;
    }
    .created2{
        font-size: 12px !important;
        position: relative;
        top: 50px;
    }

    .already  .already1 {
        font-size: 14px !important;
    }
   

    .login1 {
        font-size: 14px;
    }
}


@media screen and (max-width: 325px) {
    .signupCon9 {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
        /* background-color: blue; */
        width: 100%;

        .groceria{
            font-size: 10px;
        }

        .desc{
            font-size: 12px;
        }

    }

    .signupholder {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }

    .signupleft {
        width: 100%;
        height: auto;
        padding: 15px;
        justify-content: center;
        align-items: center;
        background: none;
    }

    .signupright {
        width: 100%;
        height: auto;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }
    .created2{
        font-size: 12px !important;
        position: relative;
        top: 50px;
    }

    .signupleftinner{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        /* background-color: #02B928; */
        /* background-color: none; */
        position: relative;
        right: 23px;
    }
    .signuprightinner {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        /* background-color: #02B928; */
        /* background-color: none; */
    }

    .logo img {
        width: 120px;
        height: auto;
        display: flex;
        justify-content: center;
        
    }
    .logo{
        position: relative;
        right: 40px;
        bottom: 20px;
    }

    .description {
        text-align: center;
    }

    .groceria {
        font-size: 22px;
    }

    .desc {
        font-size: 13px;
    }

    .signupInputHolder {
        width: 100%;
        height: auto;
    }

    .inputholderInner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .signLeft, 
    .signRight {
        width: 100%;
        align-items: flex-start;
        gap: 15px;
    
    }
    .created2{
        position: relative;
        top: 60px;
    }

    .signInput {
        width: 100%;
    }

    .input-one,
    .input-two,
    .input-three,
    .input-four2 {
        width: 90%;
        height: 40px;
        /* margin-bottom: 15px; */
        padding: 5px
    }

    .passwordHolder2 {
        width: 95%;
        height: 33px;
    }

    .signupBtn1 {
        width: 83% !important;
        height: 33px;
        font-size: 18px;
        position: relative;
        top: 10px;
    }
    .createbox{
        width: 100%;
        height: 40%;
        /* background-color: aqua; */
       
    }

    .create {
        font-size: 30px;
    }

    .already {
        font-size: 18px;

    }
    .already1 {
        font-size: 1rem !important;
        position: relative;
        top: 13px;

    }
    

    .login1 {
        font-size: 18px;
        position: relative;
        top: 13px;
    }
}
@media only screen and (max-width: 425px) {
    .signupCon9 {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        /* background-color: blue; */
    }
    .createbox{
        /* background-color: blueviolet; */
        height: 40%;
        width: 100%;
        position: relative;
        top: -80px;
        text-align: center;
        
    }
    /* .inputholder{
        background-color: aqua;
    } */

    .signupholder {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }

     .signupleft {
        width: 100%;
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        background: none;

        & img{
           position: relative;
           left: 90px;
        }
    } 

    .signupright {
        width: 100%;
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    /* .signupleftinner, */
    /* .signuprightinner {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    } */

    .logo img {
        width: 140px;
        height: auto;
    }

    .description {
        display: none;
    }

    .groceria {
        font-size: 24px;
    }

    .desc {
        font-size: 14px;
    } 

    .signupInputHolder {
        width: 100%;
        height: auto;
    }

    .inputholderInner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #F27318; */
        height: 100%;
        width: 100%;
        font-size: 1px;
        gap: 15px;
    }

    .signLeft, 
    .signRight {
        width: 100%;
        align-items: flex-start;
        gap: 15px;
    }

    .signInput {
        width: 100%;
        font-size: 15px;
    }

    .input-one,
    .input-two,
    .input-three,
    .input-four2
     {
        width: 95%;
        height: 29px;
        /* margin-bottom: 1px; */
        padding: 5px
    }

    .passwordHolder {
        width: 95%;
        height: 29px;
    }

    .signupBtn1 {
        width: 84% !important;
        height: 29px;
        font-size: 20px;
        position: relative;
        top: 15px;
    }

    .created2 {
        font-size: 12px !important;
        position: relative;
        top: 50px;
    }

    .already {
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 50px;
    }
    .already1 {
        font-size: 18px !important; 
        position: relative;
        top: 13px;

    }
    

    .login1 {
        font-size: 18px;
        position: relative;
        top: 13px;
    }

    .login {
        font-size: 18px;
    }
}
@media only screen and (max-width: 768px){
    .create{
        font-size: 25px;
    }

    .passwordHolder2{
        height: 25px;
        width: 83%;
    }
    .input-one,
    .input-two,
    .input-three,
    .input-four2{
        height: 25px;
        width: 83%;
        padding: 5px
    }
    .created2 {
        font-size: 23px;
        position: relative;
        bottom: 12px;
        
    }
    .signupBtn1{
        width: 92%;
    }

}

