.LayoutThree{
    display: flex;
    flex-direction: column;
    /* background: red; */
    height: 100vh;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}
.HoldOutletAndHeader{
    height: 100vh;
    width: 90%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}


