.LayoutThree{
    display: flex;
    flex-direction: column;
    /* background: red; */
    height: 100vh;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}
.HoldOutletAndHeader{
    height: 100vh;
    width: 90%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideBar{
    height: 100vh;
    width: 30%;
    background-color: antiquewhite;
    display: flex;
} 

@media (min-width: 320px) and (max-width: 768px){
    .sideBar{
        display: none;
    }
}