.howtoparent{
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 50px;
   font-size: 30px;
   font-weight: 600;
   background-color: white;
}
.howtopic{
   width: 90%;
   padding-top: 20px;
   align-items: center;
   justify-content: center;
}
.howtopic img{
   width: 80%;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
}

@media(width <= 768px) {
   .howtoparent{
       min-height: max-content;
       font-size: 20px;
       padding-bottom: 50px;
   }
}